body{
  background: #82BFFF;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body, input, button{
  font-family: 'Open Sans', sans-serif;
}

/*header {
  width: 50%;
  height: 70px;
  position: fixed;
  padding: 15px;
  top: 20px;
  left: 20px;
  z-index:5;
  background: #CC99FF;
  box-shadow: 0px 2px 4px #CC99FF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
}*/

header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #58493D;
  font-size: 18px;
  font-weight: 400;
  text-indent: 20px;
  background: #fff;
  padding: 0 0 0 0;
  border-radius: 5px;
  border-width: 0;
  border-color: none;
  border-style: solid;
  box-shadow: none;
  outline: none;

}

header input:hover{
  border-color: pink;
  border-width: 2px;
  box-shadow: 0 0 2px 2px pink;
}

header button{
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  z-index: 0;
  font-size: 18px;
  border-radius: 5px;
  border-width: 0;
  box-shadow: none;
  outline: none;
  background-color: #5A00FC;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

.container {
  width: 50%;
  float: left;
  padding: 0;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li{
  width: 100%;
  height: 36px;
  color: #58493D;
  font-size: 18px;
  font-weight: 400;
  text-indent: 20px;
  background: #BFE0FF;
  line-height: 22px;
  min-height: 50px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  box-shadow: none;
  margin: 10px 0 10px -40px;
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
  /*padding: 0 20px 14 14;*/
}

/*ul.todo li:last-of-type {
  margin: 0;
}*/

ul.todo li .buttons {
  width: 100px;
  height: 35px;
  position: absolute;
  top: 8px;
  right: 2px;

}

ul.todo li .buttons button{
  width: 50px;
  height: 35px;
  float: left;
  background: none;
  border: 0px;
  box-shadow: none;
  position: relative;
  cursor: pointer;

}

ul.todo li .buttons button:last-of-type:before{
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 0;
  background: #9999FF;
}

ul.todo#completed:not(:empty) {
  position: relative;
  padding: 40 0 0 0;
}

ul.todo#completed:not(:empty):before{
  width: 40%;
  height: 1px;
  background: #58493D;
  position: absolute;
  content: '';
  padding: 0 0 0 0;
}
